@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    background-image: url("images/auroro.png");
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0 auto;
    background-color: transparent;
    font-family:Ubuntu, 'sans-serif';

}

p {
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 5px;
}

h1, h2, h3 {
    font-family: 'Pixelify Sans', Ubuntu;
}



.container {
    max-width: 90%;
}

.container-fluid {
    max-width: 90%;
}

.content {
    max-height: 100%;
    height: 100%;
}

.contentBorder {
    margin: 5px auto;
    border: 64px solid transparent;
    border-image: url('images/Accents/PortBorder.png') 64 round;
    background-color: #ededed;
    background-clip: padding-box;
}

.constructText {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

.projImg {
    display: inline;
    margin: 2px;
}

.projImg:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #ffd482;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
}

.projImg:active {
    filter: saturate(1.5);
}

.contextAnim {
    animation: build 3s ease-in-out forwards;
    overflow: hidden;
}

.subtitle {
    text-align: center;
}

.subtext {
    text-align: center;
    font-size: 0.75rem;
}

.conInfo {
    text-align: center;
}

.conInfo li {
    list-style: none;
}

.offcanvas {
    background-color: #ededed;
}

.btn, .nav-link {
    border: 8px solid transparent;
    border-image: url(images/Accents/PortButton.png) 32 round;

    background-color: #ededed;
    background-clip: padding-box;

    color: black;
    font-family: 'Pixelify Sans', Ubuntu;
}

.btn-primary {
    width: fit-content;
    font-size: 1.5rem;
    z-index: 1;
}

.btn-primary:hover, .nav-link:hover {
    background-color: #ededed;
    color: #ffd482;
    border-color: transparent;
}

.btn:active, .nav-link:active {
    background-color: #ededed;
    color: #71a3c4;
}

.btn:hover:active {
    background-color: #ededed;
    color: #71a3c4;
}

.nav-link {
    margin: 2px auto;
}



#big_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#after_logo {
    opacity: 0;
    animation: appear 0.75s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 2.25s;
}

#main_name {
    text-align: center;
    font-size: 3rem;
    color: white;
}

#welte:hover {
    color: #ffd482;
    transform: scale(1.05);
}

#welte:hover::after {
  content: 'Well-Tee';
}

#welte::after {
  content: 'Welte';
  display: inline;
}




@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes build {
    from {height: 0;}
    to {height: 100%;}
}