@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    background-image: url("images/auroro.png");
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0 auto;
    background-color: transparent;
    font-family:Ubuntu;
    max-width: 90%;
}

p {
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.content {
    background-color: #ededed;
    max-height: 100%;
}

.content_border {
    width: 80%;
    margin: 5px auto;
    border: 64px solid transparent;
    border-image: url(images/Accents/PortBorder.png) 64 round;
}

.construct_text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

.projImg {
    display: inline;
    margin: 2px;
}

.projImg:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #ffd482;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
}

.projImg:active {
    filter: saturate(3);
}

.contextAnim {
    animation: build 3s ease-in-out forwards;
    overflow: hidden;
}



#big_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#after_logo {
    opacity: 0;
    animation: appear 0.75s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 2.25s;
}

#main_name {
    text-align: center;
    font-size: 3rem;
    color: white;
}




@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes build {
    from {height: 0;}
    to {height: 100%;}
}