@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    background-image: url("images/auroro.png");
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0 auto;
    background-color: transparent;
    font-family:Ubuntu;
    max-width: 90%;
}

p {
    font-weight: 400;
}

.content {
    width: 80%;
    margin: 5px auto;
    padding: 5px 10px;
    background-color: rgba(161, 174, 185, 0.75);
    border-radius: 2px;
}

.construct_text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

.projImg {
    display: inline;
    padding: 2px;
}

.charCon {
    max-width: 256px;
    max-height: 256px;
}

#big_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#after_logo {
    opacity: 0;
    animation: appear 0.75s ease-in-out forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    background-color: rgba(42, 68, 89, 0.875);
}

#main_name {
    text-align: center;
    font-size: 3rem;
    color: white;
}

#bio {
    width: 80%;
    margin: 2px auto;
    padding: 5px 10px;
    border-radius: 2px;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}